MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=teste_receitas_rg_sistemas
MYSQL_USER=user
MYSQL_PASSWORD=password


DATABASE_URL="mysql://user:password@localhost:3306/teste_receitas_rg_sistemas"
JWT_SECRET="Seu Secret"
JWT_EXPIRES_IN="1d"
API_KEY=apikey